
.container {
    display: flex;
    padding: 25px;
    margin-bottom: 30px;
    width: 80%;
    background-color: #f6f8fa;
    margin: 15px auto;
}
.wrapper {
  padding-left: 15px;
}
.header{
  font-size: 40px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
.indicators {
      width: 15%;
    min-width: 75px;
    display: inline-block;
    border: 2px solid #dadada;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
}
.information {
    font-size: 12px;
}